html {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: crimson;
  }
  .wait {
    height: 1rem;
    width: 5rem;
    background-color: black;
    animation: wait 3s infinite;
    animation-duration: 3s;
  }
  .wait-mid {
    height: .75rem;
    width: 5rem;
    background-color: white;
    animation: wait-mid 3s infinite;
  }
  
  @keyframes wait {
    0% {
      transform: translate(80rem,0rem);
    }
    50% {
      transform: translate(.3px,0rem);
    }
    60% {
      transform: translate(.3px,0rem);
    }
    100% {
      transform: translate(-80rem,0rem);
    }
  }
  @keyframes wait-mid {
    0% {
      transform: translate(-80rem,0rem);
    }
    50% {
      transform: translate(.3px,0rem);
    }
    60% {
      transform: translate(.3px,0rem);
    }
    100% {
      transform: translate(80rem,0rem);
    }
  }